.nav-bar {
    background-color: darkslategrey;
    color: white;
}

.btn-profile:hover {
    color: pink;
    font-size: larger;
    transition: 0.2s;
}

.btn-movies:hover {
    color: pink;
    font-size: larger;
    transition: 0.2s;
}

.mat-button:hover {
    color:pink;
    font-size: larger;
    transition: 0.2s;
}

